* {
  box-sizing: border-box;
}

#burgundy {
  color: rgb(153, 40, 59);
}

#orange,
select,
.btn {
  color: orange;
}

.fa-search {
  font-size: 20px;
  padding: 4px;
  margin-bottom: 3px;
  padding-right: 20px;
}

.search-nav-item {
  height: 40px;
}


.fa-user-o,
.fa-shopping-cart {
  font-size: 20px;
  padding: 4px;
}

.form-group {
  margin-bottom: 5px;
}

label {
  padding-left: 10px;
}

.form-group:last-child {
  margin-bottom: 0;
}

h6 {
  margin-bottom: 0px;
}

#sort {
  outline: none;
  border: none;
}

.btn {
  border: 1px solid orange;
  border-radius: 10px;
  background-color: #fff;
}

.btn:hover {
  color: #fff;
  background-color: orange;
}

.card-body {
  padding: 8px;
}

.sign {
  width: 25px;
  height: 25px;
}

.discount {
  border: 1px solid orange;
  border-radius: 5px;
  width: 65px;
  position: absolute;
  top: 2%;
}

@media(min-width:1200px) {
  #search {
    width: 300px;
    padding: 5px;
    padding-left: 20px;
  }

  .search-nav-item {
    margin-left: 400px;
    width: 350px;
  }

  .fa-user-o {
    margin-left: 300px;
  }

  .text {
    display: none;
  }

  .fa-user-o,
  .fa-shopping-cart {
    font-size: 20px;
    padding-left: 20px;
  }

  #sidebar {
    width: 30%;
    padding: 20px;
    float: left;
  }

  #products {
    width: 70%;
    padding: 10px;
    margin: 0;
    float: right;
  }

  .card {
    width: 300px;
    height: 330px;
    border: none;
  }

  .card-img-top {
    width: 230px;
    height: 200px;
    border-radius: 10px;
  }

  del {
    padding-right: 2px;
  }

  .filter,
  #mobile-filter {
    display: none;
  }
}

@media(min-width:992px) and (max-width:1199px) {
  #search {
    width: 300px;
    padding: 5px;
    padding-left: 20px;
  }

  .search-nav-item {
    margin-left: 200px;
    width: 350px;
  }

  .fa-user-o {
    margin-left: 160px;
  }

  .text {
    display: none;
  }

  #sidebar {
    width: 30%;
    padding: 20px;
    float: left;
  }

  #products {
    width: 70%;
    padding: 10px;
    margin: 0;
    float: right;
  }

  .card {
    width: 200px;
    height: 330px;
    border: none;
  }

  .card-img-top {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }

  .fa-plus,
  .fa-minus {
    font-size: 12px;
  }

  .sign {
    height: 25px;
  }

  .price {
    width: 99px;
  }

  .filter,
  #mobile-filter {
    display: none;
  }
}

@media(min-width:768px) and (max-width:991px) {
  #search {
    width: 300px;
    padding: 5px;
    padding-left: 20px;
  }

  .search-nav-item {
    margin-left: 60px;
    width: 350px;
  }

  .fa-user-o {
    margin-left: 80px;
  }

  .text {
    display: none;
  }

  #sidebar {
    width: 35%;
    padding: 20px;
    float: left;
  }

  #products {
    width: 65%;
    padding: 10px;
    margin: 0;
    float: right;
  }

  .card {
    border: none;
  }

  .filter,
  #mobile-filter {
    display: none;
  }
}

@media(min-width:576px) and (max-width:767px) {
  .text {
    display: none;
  }

  .search-nav-item {
    margin-left: 35px;
    width: 270px;
  }

  #search {
    width: 240px;
    padding: 5px;
    padding-left: 20px;
  }

  .fa-search {
    padding: 3px;
    font-size: 18px;
  }

  #sidebar {
    width: 40%;
    padding: 20px;
    float: left;
  }

  #products {
    width: 60%;
    padding: 10px;
    margin: 0;
    float: right;
  }

  .card {
    border: none;
  }

  #off {
    padding-left: 2px;
  }

  #sorting span,
  #res {
    font-size: 14px;
  }

  .filter,
  #mobile-filter {
    display: none;
  }
}

@media(max-width:575px) {
  .search-nav-item {
    margin: 0;
    width: 100%;
    margin-top: 10px;
  }

  #search {
    width: 80%;
    padding-left: 10px;
    margin-top: 10px;
    padding-right: 10px;
  }

  .fa-search {
    padding: 10px;
    font-size: 18px;
  }

  #sidebar {
    display: none;
  }

  .filter {
    margin-left: 70%;
    margin-top: 2%;
  }

  #sorting,
  #res {
    font-size: 12px;
    margin-top: 2%;
  }
}

button {
  color: #e07ba5;
  padding: 10px;
  border-color: #f32179;
  font-size: 15px;
  transition: 0.2s;
  background-color: transparent;
  border-radius: 3em;
  padding-left: 10px;
  margin-right: 20px;
  cursor: pointer;
  float: right;
}

button:hover {
  color: #fff;
  background: #35c1f8;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 10px;
  background: #ddd;
  font-size: 17px;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a,
  .topnav input[type=text],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

* {
  margin: 0;
  padding: 0
}

.navbar-conts {

  width: 60px;
  height: 60px;
  background-color: transparent;
  content-visibility: hidden;
}

.imgfluid {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 1%;
}

header {
  position: fixed;
  top: 0;
}

a {
  color: #000;
}

ul li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul li a:hover {
  border-bottom: #000000 2px solid;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navbar-conts:hover {
  padding-left: 40PX;
  padding-right: 40PX;
  animation-name: navbar-conts-hover;
  animation-duration: 0.10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  content-visibility: visible;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a,
  .topnav input[type=text],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

* {
  margin: 0;
  padding: 0
}