button {
    color: #e07ba5;
    padding:10px;
    border-color: #f32179;
    font-size: 15px;
    transition: 0.2s;
    background-color: transparent;
    border-radius: 3em;
    padding-left: 10px;
    margin-right: 20px;
    cursor: pointer;
    float: right;
}
button:hover {
    color: #fff;
    background: #35c1f8;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  } 
              * {
      margin: 0;
      padding: 0
  }
  .navbar-conts {
  
      width: 60px;
      height: 60px;
      background-color: transparent;
      content-visibility: hidden;
  }
  .imgfluid{
      position: absolute;
      width: 50px;
      height: 50px;
      top: 1%;
  }
  header{
      position: fixed;
      top: 0;
  }
  
  a{
color: #000;
  }

  ul li a{
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  ul li a:hover {
      border-bottom: #000000 2px solid;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .navbar-conts:hover {
      padding-left: 40PX;
      padding-right: 40PX;
      animation-name: navbar-conts-hover;
      animation-duration: 0.10s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      content-visibility: visible;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  } 
              * {
      margin: 0;
      padding: 0
  }
  .navbar-conts {
  
      width: 60px;
      height: 60px;
      background-color: transparent;
      content-visibility: hidden;
  }
  .imgfluid{
      position: absolute;
      width: 50px;
      height: 50px;
      top: 1%;
  }
  header{
      position: fixed;
      top: 0;
  }
  
  ul li a{
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  ul li a:hover {
      border-bottom: #000000 2px solid;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .navbar-conts:hover {
      padding-left: 40PX;
      padding-right: 40PX;
      animation-name: navbar-conts-hover;
      animation-duration: 0.10s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      content-visibility: visible;
  }
  
  @keyframes navbar-conts-hover {
      0% {
          width: 25%;
          background: #f0f0f0;
          box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset, -10px -10px 10px #ffffff inset
      }
  
      25% {
          width: 50%;
          background: #f8f8f8;
          box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset
      }
  
      50% {
          width: 75%;
          background: #f8f8f8;
          box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset
      }
  
      100% {
          
          width: 100%;
          background: #fafafa;
          box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset, 2px 2px 2px #ffffff inset
      }
  
  }
body{
    color:#fff
  }
  .right_conatct_social_icon{
       background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
  }
  .contact_us{
      background-color: #f1f1f1;
      padding: 120px 0px;
  }
  
  .contact_inner{
      background-color: #fff;
      position: relative;
      box-shadow: 20px 22px 44px #cccc;
      border-radius: 25px;
  }
  .contact_field{
      padding: 60px 340px 90px 100px;
  }
  .right_conatct_social_icon{
      height: 100%;
  }
  
  .contact_field h3{
     color: #000;
      font-size: 40px;
      letter-spacing: 1px;
      font-weight: 600;
      margin-bottom: 10px
  }
  .contact_field p{
      color: #000;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 35px;
  }
  .contact_field .form-control{
      border-radius: 0px;
      border: none;
      border-bottom: 1px solid #ccc;
  }
  .contact_field .form-control:focus{
      box-shadow: none;
      outline: none;
      border-bottom: 2px solid #1325e8;
  }
  .contact_field .form-control::placeholder{
      font-size: 13px;
      letter-spacing: 1px;
  }
  
  .contact_info_sec {
      position: absolute;
      background-color: #2d2d2d;
      right: 1px;
      top: 18%;
      height: 340px;
      width: 340px;
      padding: 40px;
      border-radius: 25px 0 0 25px;
  }
  .contact_info_sec h4{
      letter-spacing: 1px;
      padding-bottom: 15px;
  }
  
  .info_single{
      margin: 30px 0px;
  }
  .info_single i{
      margin-right: 15px;
  }
  .info_single span{
      font-size: 14px;
      letter-spacing: 1px;
  }
  
  button.contact_form_submit {
      background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
      border: none;
      color: #fff;
      padding: 10px 15px;
      width: 100%;
      margin-top: 25px;
      border-radius: 35px;
      cursor: pointer;
      font-size: 14px;
      letter-spacing: 2px;
  }
  .socil_item_inner li{
      list-style: none;
  }
  .socil_item_inner li a{
      color: #fff;
      margin: 0px 15px;
      font-size: 14px;
  }
  .socil_item_inner{
      padding-bottom: 10px;
  }
  